/* 全局共用的主题色 */
body {
  /* 危险、错误 */
  --danger: #cc3600;
  /* 主色调、链接 */
  --primary: #6b9eee;
  /* 大部分文字、深色文字 */
  --words: #373737;
  /* 少部分文字、浅色文字 */
  --lightWords: #999;
  /* 警告 */
  --warn: #dc6a12;
  /* 成功 */
  --success: #7ebf50;
  /* 灰色 */
  --gray: #b4b8bc;
  /* 深色 */
  --dark: #202020;
}