* {
    padding: 0;
    margin: 0;
}

body {
    transition: all .3s;
}

.wrapper {
    transform-style: preserve-3d;
    perspective: 800px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 1190px;
    margin: 100px auto;
    /* border: 1px solid #000; */

    transform: rotateX(0deg) rotateY(0deg);
}

.wrapper .box {
    transform-style: preserve-3d;
    /* perspective: 800px; */

    width: 150px;
    height: 150px;

    margin: 15px 0;

    transition: all .3s;
}

.wrapper .box > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box;
    border: 1px solid #ddd; */
    font-size: 30px;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 前面 */
.wrapper .box > div:nth-of-type(1) {
    transform: translateZ(75px);
}

/* 后面 */
.wrapper .box > div:nth-of-type(2) {
    transform: translateZ(-75px);
}

/* 左面 */
.wrapper .box > div:nth-of-type(3) {
    transform: rotateY(-90deg) translateZ(75px);
}

/* 右面 */
.wrapper .box > div:nth-of-type(4) {
    transform: rotateY(90deg) translateZ(75px);
}

/* 上面 */
.wrapper .box > div:nth-of-type(5) {
    transform: rotateX(-90deg) translateZ(75px);
}

/* 右面 */
.wrapper .box > div:nth-of-type(6) {
    transform: rotateX(90deg) translateZ(75px);
}